<div class="container">
    <div class="card">
        <div class="card-header">
            <h3 style="text-align: center;">Horas Trabajas C.C  {{servicio.id_tecnico}}</h3>
        </div>

        <div class="card-body">
            <table class="table table-hover table-bordered align-middle">
                <thead>
                    <tr>
                        <th>NOMALES</th>
                        <th>NOCTURNAS</th>
                        <th>DOMINICALES</th>
                        <th>NOMALES EXTRAS</th>
                        <th>NOCTURNAS EXTRAS</th>
                        <th>DOMINICALES EXTRAS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{calculo.normales}}</td>
                        <td>{{calculo.nocturnas}}</td>
                        <td>{{calculo.dominicales}}</td>
                        <td>{{calculo.normales_extras}}</td>
                        <td>{{calculo.nocturnas_extras}}</td>
                        <td>{{calculo.dominicales_extras}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
